---
title: Layout Reproduction
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><img class="logo" src="/images/logo.png"></li>
      <li class="title text"><b>Hacker News</b></li>
      <li class="text">new</li>
      <li class="text">|</li>
      <li class="text">past</li>
      <li class="text">|</li>
      <li class="text">comments</li>
      <li class="text">|</li>
      <li class="text">ask</li>
      <li class="text">|</li>
      <li class="text">show</li>
      <li class="text">|</li>
      <li class="text">jobs</li>
      <li class="text">|</li>
      <li class="text">submit</li>
      <li class="text login">login</li>
    </ul>
  </nav>
    {{ content }}
</body>
</html>