body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
    padding: 0 40px;
}

nav {
    margin: 0 auto 0 auto;
    width: 90%;
    height: 36px;
    background: #c75d1c;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    color: black;
    font-size: 16px;
}

.logo {
    width: 28px;
    height: 28px;
    padding-top: 4px;
    padding-left: 4px;
}

.text {
    padding-top: 8px;
    padding-left: 10px;
}

.title {
    padding-top: 8px;
    font-size: 16px;
}

.login {
    padding-left: 655px;
}

.content {
    background: #e3dcd8;
    width: 90%;
    margin: auto;
    padding-top: 2px;
}

ol {
    list-style: none; 
    counter-reset: li
}

ol li::before {
    content: counter(li); 
    color: grey;
    display: inline-block; 
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em; 
    text-align: right; 
    direction: rtl
}

ol li {
    counter-increment: li;
    line-height: 0;
    padding-top: 10px;
}

p {
    line-height: 0;
}

h2 {
    line-height: 0;
    font-size: 16px;
    font-weight: 500;
}

em {
    font-style: normal;
    color: grey;
}

.stats {
    color: grey;
    font-size: 12px;
    padding-top: 4px;
}